/*
	=Type
*/
*::selection { /* Safari */
    background: #333; 
	color: #fff;
}
*::-moz-selection { /* Firefox */
	background: #333; 
	color: #fff;
}
body {
	font-family: 'Lora', Garamond, serif;
	background-color: #F6F6F1;
}
h1, h2 {
	font-family: 'BenchNine', Helvetica, sans-serif;
	text-transform: uppercase;
}
p {
	font-size: 16px;
    line-height: 160%;
    margin: 0 0 10px;
}
blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: justify;
    width: 80%;
}
.caption {
    color: #666;
    display: block;
    font-family: Arial;
    font-size: 12px;
}
#main a:link,
#main a:visited {
	color: #cc0000;
}
#main a:hover {
	text-decoration: underline;
}

/*
	=Header
*/
#site_header,
#site_header .navbar-inner {
	background: none transparent;
	border: medium none;
	box-shadow: none;
}
#site_header {
	background: inherit;
	border-top: 2px solid #CC0000;
}
#site_header h1 {
	margin-left: 0;
}
#site_title a {
    color: #000;
    font-size: 36px;
}
#site_nav {
	font-family: 'Abel', Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 10px 0 12px;
}
.navbar .nav > li {
    float: none;
    display: inline-block;
    margin-top: 20px;
}
#site_nav li {
	margin-bottom: 20px;
    margin-left: 10px;
}
#site_nav li:first-child {
	
}
#site_nav li a:link,
#site_nav li a:visited,
#site_nav li.active a  {
	background: none transparent;
	border: 1px dotted #999;
	box-shadow: none;
	color: #111;
	text-align: center;
}
#site_nav li.active a {
	border-style: solid;
}
#site_nav li a:hover,
#site_nav li a:focus {
	border: 1px solid #000;
	color: #000;
}

/*
	=Sidebar
*/
#bio {

}
#profile {
	margin: 0 0 20px 10px;
    text-align: center;
}
#profile img {
	border-radius: 50%;
	margin: 0 auto 20px;
}
#profile p {
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    width: 90%;
}
.well {
	background: transparent;
	border: none;
	font-family: 'Abel',Arial,sans-serif;
	 text-align: center;
}
.well h3 {
	font-family: 'BenchNine',Helvetica,sans-serif;
	font-size: 18px;
}
.well a:link,
.well a:visited {
	color: #444;
}
.well a:hover {
	background-color: transparent;
}
#contact li {
	
}
#feeds {
	 font-size: 36px;
	 max-width: 260px;
}
#feeds li {
	display: inline-block;
    margin: 0 0 20px;
    width: 30%;
}
#feeds li a:hover {
	background: transparent;
}




/*
	=Main
*/

#container {
	margin-top: 40px;

}
#main {
	border-left: 1px dotted #ccc;
    padding-left: 1%;
}

/*
	=Feed
*/
#feature {
    background: #fff;
    border-bottom: 1px dotted #ccc;
    border-radius: 0 0 0 0;
    overflow: auto;
    padding: 20px;
}
#feature blockquote {

}
#feature p {
	
}
#feature img {
	float: left;
	max-height: 260px;
	margin-right: 20px
}

#feed li {
	margin: 0 0 40px;
}
#feed h2 {
	font-size: 24px;
}

#course_listing h1 {
	font-size: 24px;
}
#course_listing h2 {
	font-size: 18px;
}
.courses {
	list-style: none;
	margin: 0 0 40px;
}
.courses li {
	line-height: 2;
}
.current:after {
	/*
	content: "Current";*/
}
#course_preview {

}
#course_preview h1 {
	text-align: center;
}
#course_preview p {
	line-height: 1.2;
    margin: 30px 0;
    text-align: justify;
}
.meta {
	font-family: Abel, Arial;
    font-size: 14px !important;
    margin: 10px 0 !important;
    text-align: center !important;
}


#site_footer {
	clear: both;
    font-family: 'Abel',Arial,sans-serif;
    font-size: 11px;
    padding: 40px 0 0;
    text-transform: uppercase;
}